<!DOCTYPE html>
<html lang="en">
<head>
    {% block urls %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>Handmade</title>
</head>
<body>
<style>
	header{
		padding: 20px;
		background-color: #48d1cc;
		height: 170px;
	}
	.logo{
		width: 170px;
		height: 170px;
		padding-left: 100px;
		padding-right: 100px;
		float: left;
	}
	span{
		font-size: 50px;
		text-align: right;
		color: #191970;
		margin-top: 50px;
	}
	.clearfix{
		clear: both;
	}
	.uptext{
		font-style: italic;
		font-size: 25px;
		color: #191970;
		margin-top: 10px;
	}
	nav{
		height: 30px;
		background-color: #6495ed;
		padding: 10px 0;
	}
	ul{
		margin-top: 0px;
		padding-bottom: 20px;
	}
	li{
		list-style: none;
		float: right;
		padding-left: 90px;
		padding-right: 90px;
		font-size: 25px;
	}
	h1{
		font-size: 20px;
		color: #8b4513;
		padding-left: 20px;
	}
	.main{
		background-color: pink;
		padding-top: 5px;
		height: 680px;
		margin-top: 0px;

	}
	.imgmain{
		float: left;
		padding-left: 50px;
		padding-right: 10px;
		width: 500px;
		height: 200px;
	}
	.uloftext{
		margin-top: 20px;
	}
	ol{
		text-align: center;
		padding-right: 50px;
		padding-left: 50px;
		font-size: 30px;
		list-style: none;
		color: blueviolet;
		font-weight: 600;
	}
	.headofp{
		font-weight: 600;
		font-size: 25px;
		font-style: italic;
	}
	.maintext{
		text-align: left;
		font-size: 18px;
		padding-left: 30px;
		padding-right: 30px;
	}
	footer{
		height: 120px;
		padding-left: 225px;
		background-color: #a9a9a9;
	}
	.footerli{
		font-size: 18px;
		padding-bottom: 20px;
		float:left;
		width: 33%;
		text-align: left;
	}
	</style>
    <header>
        <div >
            {% load staticfiles %}
            <img src="{% static "logomain.jpg" %}" class="logo"> <span><b>HandMade Internet Shop</b></span>
        <div class="uptext">
        &quot; That's the thing with handmade items.
        They still have the person's mark on them, and when you hold them, you feel less alone.&quot; <br>
        &mdash; Aimee Bender, The Color Master: Stories
        <div class="clearfix"></div>
        </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#">InternetSHOP</a></li>
            <li><a href="#">HISTORY of HANDMADE items</a></li>
            <li><a href="#">Master &ndash; classes</a></li>
        </ul>
        <div class="clearfix"></div>
    </nav>
    {% block content %}

    {% endblock %}
		<footer>
			<div class="footerli">
                <h1>Archive</h1>
                <a href="#">celebration</a><br>
                <a href="#">teambuildings</a><br>
                <a href="#">holidays</a><br>
            </div>
			<div class="footerli">
                <h1>Notifications</h1>
                <a href="#">your proposals</a><br>
                <a href="#">your complains</a><br>
                <a href="#">your comments</a><br>
            </div>
            <div class="footerli">
                <h1>About us</h1>
                <a href="#">info about owners</a><br>
                <a href="#">e-mail us</a><br>
                <a href="#">call us</a><br>
            </div>
			<div class="clearfix"></div>
		</footer>
</body>
</html>