{% extends 'base.html' %}

{% block content %}
    {% block urls %}
    {% load staticfiles %}
    <link href="{% static "style.css" %}" rel = "stylesheet"> 
    <script type="text/javascript" src="{% static "script.js"%}"></script>
    <script type="text/javascript" src="{% static "calcscript.js"%}"></script>
    {% endblock %}

<div class="main">
		<ul class="uloftext">
			<ol>Handmade is HeartMade</ol>
			<ol>Reasons to buy HandMade</ol>
		</ul>
            {% load staticfiles %}
			<img src="{% static "main photo.png" %}" class="imgmain">
			<p class="headofp">
				&emsp; &emsp; We asked artists, designers and shop keepers to provide us with reasons why one should buy handmade. Here are their replies:
			</p>
			<div class="maintext">
				&mdash;My favorite reason to buy handmade is just that &ndash; it's handmade, which means quality, and a whole lot of love! <br>
				&mdash;Handmade products are more than just a product. There is love, creativity and uniqueness. And that shows.<br>
				&mdash;When you give a handmade gift it's more like writing a letter to someone than giving them a newspaper gift-certificate.<br>
				&mdash;Human rights &amp; ecological aspects. Buy handmade and you support a true artist. You can be sure that human rights are respected in the making of your gift. Handmade gifts are for many reasons often more ecological than mass produced: indie artists are superb recyclers (and we mustn't forget upcycling, upcycled gifts are a big hit this year!) and of course handmade in most cases outlasts mass produced.<br>
				&mdash;Giving handmade is truly the essence of gift-giving. When you give a friend or loved one a gift, you are really saying "I care about you." A handmade gift conveys so much more than something pulled off the end-cap display of a mega store. Of course there are the obvious economic benefits of supporting independent makers and artists, but buying and giving handmade is, at heart, a loving act.<br>
				&mdash;You are supporting local artisans and craftspeople and not large big box stores.<br>
				&mdash;It guarantees that no one will give the same gift as you!<br>
				&mdash;It's fun to see the creativity and excellence of the very, very talented designers out there. It harkens back to the days of old when craftsmanship, creativity and quality were paramount - You are buying items not mass-produced and impersonal but are very personal not only to the buyer, but to the maker.<br>
				&mdash;The biggest reason I buy handmade is to support the many talented people out there who are trying to get started with their business. I find the care and love taken in making everything I buy comes through when I get it. I feel a sense of extra worth and pleasure with each purchase knowing I have helped someone get one step closer to their dream. Supporting each other is after all the most rewarding gift we can give each other!<br>
				&mdash;When you buy handmade you ar e getting something that is made with love by someone who loves what they do.
			</div>
</div>
    <div id="feedback">
		<form>
		<label>
			Dear friend, you may send us a message in order to make
			   our website more flexible and convinient for you.
		</label>

		<label for="id_name">
			Name:
		</label>
			<input type="text" name="name" id="id_name">
		<label for="id_surname">
			surname:
		</label>
			<input type="text" surname="surname" id="id_surname">
		<label for="id_message">
			Your message:
		</label>
			<input type="text" message="message" id="id_message">
			<input type="submit" value="send" onclick="submitFeedback(); return false;">
		</form>
	</div>
	<div id="feedback_open" onclick="showfeedbackwindow();"> </div>

	<div id="calculator">
	<table border="2">
	<tr>
	<td>
	<input id="znah_1" size="15">
	</td>
	<td rowspan="3" valign="top">
	<input type="button" value=" + " onclick="plus()">
	<input type="button" value=" - " onclick="minus()">
	<input type="button" value=" * " onclick="umn()">
	<input type="button" value=" / " onclick="del()"></td>
	</tr>
	<tr>
	<td><input id="znah_2" size="15"></td>
	</tr>
	<tr>
	<td><input id="rezultat" size="15"></td>
	</tr>
	</table>
	</div>
{% endblock %}
