﻿html, body{
	padding: 0;
	margin: 0;
}

#feedback{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 300px;
	background: yellow;
}

#feedback_open{
    	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 35px;
	background: orange;
}

#calculator{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 90px;
	background: blue;
}
